# Node.js 관련
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
yarn.lock

# 환경 변수 파일
.env

# 로그 파일
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# 임시 파일
.DS_Store
Thumbs.db

# 빌드 파일
dist/
build/

# IDE 및 편집기 관련 파일
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 운영체제 관련
.DS_Store
*.swp

# Git 관련
.git
